span{
  position: absolute;
  left: 66%;
  top: 50%;
 font-weight: 800;
 max-width: 100%;
}
 .left{
  position: absolute;
  left: 31%;
  top: 50%;
}
h1 {
  margin-top: 2rem;
  text-align: center;
  color: #b4acab;
  padding-top: 3rem;
  
}
.cont{
  width: 50%;
  margin: auto;
  margin-bottom: 7rem;

}
.test {
  height: 800px;
  width: 100%;
  
}
.pics {
  display: flex;
  flex-direction: row;

  justify-content: center;
  gap: 3rem;
  padding: 1rem;
  margin-top: 2rem;
  margin: auto;
  height: auto;
  width: 30%;
}
.button {
  flex: 0 0 calc(25% - 20px);
  max-width: 0 0 calc(25% - 20px);
 white-space: nowrap;
}
.imgs {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.imgs2 {
  position: absolute;
  top: 56%;
  left: 50.2%;
  transform: translate(-50%, -50%);
}
.imgs3 {
  position: absolute;
  top: 53%;
  left: 50.2%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 645px){
  .left{
      left: 10%;
  }
  span{
    left: 73%;
    max-width: 100%;
  }
  .cont{
    width: 100%;
    margin: auto;
    margin-bottom: 7rem;
  
  }
}