@keyframes float {
  0% {
    transform: translate3d(10px, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(-10px, 0, 0) rotate(-5deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

.clicker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.increment {
  /*max-width: 25%;*/
  max-height: 75%;
  padding: 25px;
  margin-left: 4rem;

  animation: float 0.5s ease-in-out infinite alternate;
}

.all {
  padding: 5rem;
  padding-top: 1rem;
}

button {
  align-self: center;
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 900px) {
  .all {
    padding: auto;
  }
  .increment {
    margin-left: 2rem;
    height: 70%;

  }
  .nadpis{
    font-size: 1.2rem;
  }
}
